@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Spartan:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
h1{
    color: beige;
    font-family: 'Chewy', cursive;
    /*font-family:  'Concert One', cursive;*/
   /* font-family:  'Roboto Slab', serif;*/
    font-size: 100px;
    text-align: center;
}

h3{
    color: beige;
    font-family: 'Spartan', sans-serif;
    font-size: 30px;
    text-align: center;
}

h6{
    color: white;
    font-family:  'Roboto Slab', serif;
    font-size: 15px;
    text-align: left;
}

p{
    color: black;
    font-family:  'Roboto Slab', serif;
    font-size: 20px;
    text-align: left;
}

div{
    position: relative;
    float: left;
}

#inicio{
    width: 100%;
    height: 600px;
    background-image: url('2.jpg') ;
    background-size: cover;

}

#circulo{
    position: absolute;
    top: 200px;
    left: calc(50% - 400px);
    width: 800px;
    height: 150px;
}

#piecirculo{
    position: absolute;
    top: 130px;
    width: 100%;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    /*background: #376996 ;*/
    background: #467097;
}

#contenedor{
    width: 100%;
    background:#829cbc;
}

#personal{
    width: 100%;
    height: 350px;
    /*background:pink;*/
}

#foto{
    width: 45%;
    height: 100%;
    position: absolute;
   background: #1d3461;
    left: -65px;
    transform: skewX(20deg);
}


#informacion{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 50px;

}

#habilidades{
    width: 100%;
    height: 300px;
    /**/background: #829cbc;
    background: white;
    position: relative;
}

#contacto{
    width: 100%;
    height: 100px;
    background: #1d3461;
}

.circulo {
    width: 120px;
    height: 120px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    top: calc(50% - 60px);
    background-image: url('c++.jpg');
    background-size: cover;

}


.cmas {
    left: 50px;
    background-image: url('c++.jpg');
    background-size: cover;
}

.cmasmas {
    left: 150px;
    background-image: url('cc.jpg');
    background-size: cover;
}

.py {
    left: 250px;
    background-image: url('python.png');
    background-size: cover;
}

.mysql {
    left: 350px;
    background-image: url('mysql.png');
    background-size: cover;
}

.oracle {
    left: 450px;
    background-image: url('oracle.png');
    background-size: cover;
}


.correo{
    top: 20px;
    left: 20px;
    width: 400px;
    height: 50px;

}

img{
    width: 40px;
    border: 1px solid rgba(0,0,0,.2) ;
    border-radius: 5px;
    padding: 7px;
}


.fot{
    width: 80px;
    height: 50px;
}

.gmail{
    top: 10px;
    left: -15px;
    width: 80px;
    height: 20px;

}